[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
python-socketio = "*"
eventlet = "*"
flask-login = "*"
types-flask-socketio = "*"

[dev-packages]
types-flask-socketio = "*"

[requires]
python_version = "3.10"
